.contents__show-notification {
    margin: 1.875em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .div-global {
        .title-notification {
            font-weight: 600;
            text-align: left;
            padding-bottom: 0.75em;
            margin-bottom: 0;
        }

        .quantity-notification {
            color: $color-white;
        }

        .notification-content {

            img {
                width: 3.75em;
                margin-right: 0.625em;
                border-radius: 0.75em;
            }

            img:not(:first-child) {
                margin-left: -1.25em;
            }

            .title-sub-notification {
                text-align: center;
                text-decoration: none;
                color: rgb(192, 190, 190);

                i {
                    display: inline-block;
                    width: 1.875em;
                }
            }

            .title-sub-notification:hover {
                color: $color-white;
            }
        }

        .quantity-notification {
            font-size: 2.6875em;
            padding-bottom: 0.25em;
            margin: 0;
        }
    }

    .flex-20 {
        flex: 0 0 20%;
    }
}