* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
}

.container {
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(to right, $color-black, #1a1c20);
}

.padding {
    padding: 1.375em;
}

.p-btn-sidebar {
    padding: 0.625em 0.75em;
}

.p-btn-content {
    padding: 0.75em 1.375em;
}

.p-btn-tag {
    padding: 0.375em 0.875em;
    margin: 0.625em;
}

.btn-global {
    color: $color-white;
    border-radius: 1.375em;
    font-weight: 600;
    border: none;
    background-color: $color-violet;
}

.btn-global:hover {
    cursor: pointer;
    opacity: 0.8;
}

.div-global {
    text-align: center;
    padding: 1.375em;
    border-radius: 1.625em;
    background-color: #1e1c28;
}

.title {
    color: $color-white;
}

.ml-32px {
    margin-left: 2em;
}

.bg-color-gradient {
    background-image: linear-gradient(48deg, #954fc4, #6b40cf);
}

.bg-red {
    background-color: rgb(182, 3, 3);
}

.ml-20 {
    margin-left: 1.25em;
}

.errorMsg {
    max-width: 100%;
    font-size: 0.9rem;
    color: rgb(248, 106, 106);
}

// Active link
.active {
    color: $color-white !important;
    border-radius: 1.25em;
    background-color: #1e1c28;

    .link-icon {
        color: $color-violet;
    }
}